.card {
  width: 588px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(56, 65, 74, 0.05);
  border-radius: 6px;
  padding: 57px 64px 56px 64px;
}

.title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  word-wrap: break-word;
  text-align: center; 
  margin-bottom: 8px;
}

.content {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  word-wrap: break-word; 
  text-align: center;
}