.desks {
  background-color:  #E5E5E5;
  width: 100%;
  min-height: 100%;
  padding: 30px;
  overflow-y: scroll;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 41.36px;
}

.card-icon {
  font-size: 40px; 
  color: #4A81D4;
} 

