<div class="p-2">
  <div class="description mb-3">
    Information text about what to fill in if needed.
  </div>
  <div class="label mb-1">
    Description
  </div>
  <div class="mb-2">
    <input type="text" class="form-control" placeholder="Options">
  </div>
  <div class="label mb-1">
    Date
  </div>
  <div class="mb-5">
    <div class="col-6 d-flex">
      <input type="date" class="form-control">
      ~
      <input type="date" class="form-control">
    </div>
  </div>
  <div class="mb-5">
    <app-available-schedule></app-available-schedule>
  </div>
  <div class="mb-2">
    <button type="submit" class="btn-save me-3">Save</button>
    <button type="button" class="btn-cancel">Cancel</button>
  </div>
</div>
