.desk-input-form {
  width: 756px;
  height: 516px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(56, 65, 74, 0.05);
  border-radius: 6px;
  padding: 24px;
}

.subTitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 20.68px;
  margin-bottom: 20px;
}

.form-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.09px;
  color: #343A40;
  margin-bottom: 8px;
}

.margin-code {
  margin-bottom: 11px;
}

.margin-input-group {
  margin-bottom: 4px;
}

.description {
  font-weight: 400;
  font-size: 10px;
  line-height: 11.49px;
  color: #98A6AD;
  margin-bottom: 24px;
}

.textarea {
  border: 1px solid #CED4DA;
}

.input-price {
  width: 177px;
  height: 37px;
  border-radius: 3.2px;
}

.input-description {
  border: 3.2px;
  width: 708px;
  height: 58px;
}

.input-ref {
  width: 177px;
  height: 37px;
  border-radius: 3.2px;
}

.btn-cancel {
  background-color: #F1F5F7;
  border-radius: 2.4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.09px;
  align-items: center;
  width: 76px;
  height: 37px;
  border: 0;
}

.btn-save {
  background-color: #1ABC9C;
  border-radius: 2.4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.09px;
  color: white;
  align-items: center;
  width: 84px;
  height: 37px;
  border: 0;
}

.btn-delete {
  background-color: #F1556C;
  border-radius: 2.4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.09px;
  color: white;
  align-items: center;
  width: 112px;
  height: 37px;
  border: 0;
}

.qrcode {
  width: 18px;
  height: 18px;
  margin-bottom: 24px;
}

.qrcode-str {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #6C757D;
}

.required {
  color: #F1556C;
}