.card-icon {
  font-size: 50px;
  /* color: #1ABC9C;; */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 2px solid #1ABC9C;
}

.card-title {
  margin: 24px 0 20px;
}

.card-content {
  margin: 10px 0;
}

a {
  margin-top: 52px;
}
