#forgetPassword {
  float: right;
}

.input-with-icon {
  position: relative;
}

.input-with-icon input {
  padding-right: 40px;
}

.input-icon {
  position: absolute;
  right: 10px;
  top: 8.5px;
  color: #6C757D;
}

.btn-login {
  height: 44px;
}

.card-title {
  margin-bottom: 32px;
}

.scond-label {
  margin-top: 24px;
}

.btn-login {
  margin: 32px 0;
}
