<div class="main-wrapper bg-auth">
  <!-- <img src = "assets/images/auth_back.png"> -->
  <div class="d-flex justify-content-center logo">
    <app-logo></app-logo>
  </div>
  <div class="d-flex justify-content-center">
    <mat-card class="box auth-form login-form card-main">
      <div class="d-flex justify-content-center">
        <span class="card-icon d-flex justify-content-center align-items-center">
          <mat-icon [ngStyle]="{'color': '#1ABC9C', 'font-size': '40px', 'width': '40px', 'height': '40px' }">done
          </mat-icon>
        </span>
      </div>
      <div class="card-title d-flex justify-content-center">Password changed!</div>
      <mat-card-content>
        <div class="card-content">
          Your account has been updated successfully and you can now login with your new password.
        </div>
        <div class="flex-container-hcenter">
          <a [routerLink]="[logInRoute]" class="_link-primary">Back to Log In</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<router-outlet></router-outlet>