<div class="main-wrapper bg-auth">
  <!-- <img src = "assets/images/auth_back.png"> -->
  <div class="d-flex justify-content-center">
    <div class="logo">
      <app-logo></app-logo>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <form class="auth-form" [formGroup]="form" (ngSubmit)="disableFirst() && form.valid && onSend()">
      <mat-card class="box card-main">
        <div>
          <div class="card-title ustify-content-start">Forgot your password?</div>
          <div class="card-content">
            Enter your email address and we’ll send you instructions how to reset your password.
          </div>
          <label class="card-label"> Email Address</label>
          <input type="email" class="form-control" id="password" formControlName="email" [(ngModel)]="email">
          <mat-error *ngIf="!isFirst && form.controls['email'].hasError('required')" class="form-control-feedback">
            Email Address is required.
          </mat-error>
          <mat-error *ngIf="!isFirst && form.controls['email'].hasError('email')" class="form-control-feedback">
            Email Address is invalid.
          </mat-error>
          <div class="flex-container-hcenter">
            <button class="_btn-primary full-width">Send</button>
          </div>
          <div class="flex-container-hcenter">
            <a [routerLink]="[logInRoute]" class="_link-primary">Back</a>
          </div>
        </div>
      </mat-card>
    </form>
  </div>
</div>

<router-outlet></router-outlet>